<figure class="daily-image">
  {{ $alt := .Get "alt" | htmlEscape }}
  {{ if not $alt }}{{ $alt = .Get "title" | htmlEscape }}{{ end }}
  {{ $format := .Get "format" }}
  {{ if not $format }}{{ $format = "jpg" }}{{ end }}
  <img src="/image/daily/{{ .Date.Format "2006-01-02" }}.{{ $format }}" alt="{{ $alt }}" loading="lazy" />
  <figcaption>
    <span class="daily-title">{{ .Get "title" | htmlEscape }}</span>
    <span class="daily-caption">{{ .Get "caption" | htmlEscape }}</span>
  </figcaption>
</figure>
